@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body,
  html {
    min-height: 100vh;
    background: #f8fafe;
    color: #324063;
  }
}

@layer components{
  @keyframes scroll{
    0%{
      transform: translateX(0);
    }
    100%{
      transform: translateX(calc(-250px * 7));
    }
  }
    .slider{
      height: 100px;
      width:auto;
      margin: auto;
      overflow: hidden;
      position: relative;
    }
    .slideTrack{
      animation: scroll 40s linear infinite;
      display: flex;
      width: calc(250px * 14);
    }
    .slide{
      height: 200px;
      width: 250px;

    }
    .imgPartner{
      height: 100px;
      width: 250px;

    }
}
